h1, p {
    font-family: Lato;
}




.main {
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  background-color: black;
  color: white;
  padding-left: 20px;
}

.addTask {
  color: white;
  margin: auto;
  margin-right: 2%;
  padding: auto;
  padding-right: 2%;
}

.addBtn {
  margin-left: 10px;
  background-color: blueviolet;
  color:aliceblue;
  border-radius: 100px;
}

.addBtn:hover {
  background-color: aqua;
  color: black;
  transition-duration: 500ms;
}

.taskList {
  color: red;
  padding-top: 100px;
}

/*.listStyle {
  list-style-type: none;
}*/

.delBtn {
  margin-left: 10px;
  float: right;
  border-radius: 7px;
}

.delBtn:hover {
  background-color: red;
  color: white;
  transition-duration: 500ms;
}

.task {
  padding: 10px;
  background-color: darkgrey;
  color: white;
}

/*.task:nth-child(odd) {
  background-color: darkslategray;
}*/

.task:hover {
  transition-duration: 1000ms;
  background-color: black;
}

.taskDone {
  text-decoration: line-through;
  background-color: cadetblue;
}
.taskDone::before {
  text-decoration: none;
}

.clearAll {
  margin: auto;
  padding: auto;
  padding-top: 5px;
}

/*.clearBtn {

}*/